{% extends 'store/main.html' %}
{% load static %}
{% block title %}Pant|EShop{% endblock %}
{% block pant_active %}active{% endblock %}
{% block content %}
<div class="container">
    {% include 'store/gif/gif.html' %}
    <div class="row">
        {% for pant in pants %}
        <div class="col-lg-4 my-2">
            <img class="thumbnail" src="{{ pant.image.url }}" alt="{{ pant.name }}">
            <div class="box pant">
                <h3><strong>{{ pant.name }}</strong></h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline; float:right;">Rs.{{ pant.price }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}