{% extends 'store/main.html' %}
{% load static %}
{% block title %}Saree|EShop{% endblock %}
{% block saree_active %}active{% endblock %}
{% block content %}
<div class="container">
    {% include 'store/gif/gif.html' %}
    <div class="row">
        {% for saree in sarees %}
        <div class="col-lg-4 my-2">
            <img class="thumbnail" src="{{ saree.image.url }}" alt="{{ saree.name }}">
            <div class="box saree">
                <h3><strong>{{ saree.name }}</strong></h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline; float:right;">Rs.{{ saree.price }}</h4>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}