{% extends 'store/main.html'%}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-4 my-2">
            <img class="thumbnail" src="{% static 'images/store/item.jpeg' %}" alt="item">
            <div class="box product">
                <h3><strong>Product</strong></h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline; float:right;">$20</h4>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            <img class="thumbnail" src="{% static 'images/store/item.jpeg' %}" alt="item">
            <div class="box product">
                <h3><strong>Product</strong></h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline; float:right;">$20</h4>
            </div>
        </div>
        <div class="col-lg-4 my-2">
            <img class="thumbnail" src="{% static 'images/store/item.jpeg' %}" alt="item">
            <div class="box product">
                <h3><strong>Product</strong></h3>
                <hr>
                <button class="btn btn-outline-secondary">Add to Cart</button>
                <a href="#" class="btn btn-outline-success">View</a>
                <h4 style="display: inline; float:right;">$20</h4>
            </div>
        </div>
    </div>
</div>
{% endblock %}