{% extends 'store/main.html' %}
{% load static %}
{% block kurtha_active %}active{% endblock %}
{% block title %}Kutha | E-Shop{% endblock %}
{% block content %}
{% include 'store/gif/gif.html' %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4 my-2">
        <img class="thumbnail" src="{{ product.imageURL }}" alt="{{ product.name }}">
        <!-- <img class="thumbnail" src="{% static 'images/store/offer.avif' %}"> -->
        <div class="box">
            <h3><strong>{{ product.name }}</strong></h3>
            <hr>
            <!-- <button data-product={{product.id}} data-action="add" style="border-radius: 0;" -->
                <!-- class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button> -->
            <a style="border-radius: 0;" href="{{ product.imageURL }}" class="btn btn-outline-success">View</a>
            <!-- <h4 style="display: inline; float:right;">Rs.{{ product.price }}</h4> -->
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}